{{ define "main" }}
<main>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </article>

      {{ if ne .Type "page" }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&rarr; {{ i18n "previousPost" }}</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &larr;</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}

    </div>
  </div>
</main>

{{ if .PrevInSection }}
<nav>
	<a href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}" rel="next">{{ .PrevInSection.Title }}</a>
<ol start="0">
{{ range first 10 .Site.Pages }}
      {{ if eq .Type "book-item" }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
{{ end }}
</ol>
</nav>
{{ end }}

{{ end }}
