{{ define "main"}}
<main>
  <h1>Edito spécial page 404 !</h1>

  <p>Erreur 404, la page que vous avez demandée n'existe pas/plus, ou n'est plus accessible !</p>

  <p>Je vous invite à reprendre votre navigation à partir du menu de navigation usuel (édito, etc.) ou de <a href="{{ "/" | relURL }}">la page d'accueil de ce site</a>.</p>

  <p>Bastien</p>

  <small><p>PS : j'aurai pu utiliser <a href="https://redirection.io/">https://redirection.io/</a>
    mais il y a de forte chance que cette page soit une 404 volontaire et assumée…</p></small>
</main>
{{ end }}
