Header set X-Content-Type-Options nosniff
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options DENY
#Header set Content-Security-Policy "default-src 'none';  script-src 'self' https://speakerdeck.com/assets/embed.js; style-src 'self' 'sha256-UR/DVV2chlSTrLNAjBwnwUkXOZ6PHw8yFwcm/2/sQOM=' data:  ; img-src 'self' data: ;  connect-src 'self';  font-src 'self'; media-src 'self'; object-src 'self' ;  child-src 'self' ;  frame-ancestors 'self' ; manifest-src 'self' ; form-action 'self' ; base-uri 'self'; frame-src https://speakerdeck.com;"
Header set Referrer-Policy strict-origin-when-cross-origin
Header set X-UA-Compatible "IE=edge"

AddCharset UTF-8 .html

AddType application/manifest+json webmanifest
ExpiresActive On
ExpiresByType application/manifest+json "access plus 1 week"

ErrorDocument 404 /404.html
DirectoryIndex index.html


# https://forum.alwaysdata.com/viewtopic.php?id=4867
CheckSpelling on
